* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: whitesmoke;
    color: #333333;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    cursor: default;
}

#primary-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
}

#header {
    font-size: 3rem;
    padding: 0.5em;
    grid-column: 2 / 3;
    justify-self: center;
}

#side-bar {
    grid-column: 3 / 4;
    justify-self: end;
    font-size: 3rem;
    margin: 0.8em 0.8em 0em 0em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#side-bar i {
    margin: 0.1em;
    cursor: pointer;
}

#main {
    grid-column: 2 / 3;
    justify-self: center;
}

#nav {
    list-style: none;
    font-size: 2rem;
    margin-top: -1.5em;
}

#nav li {
    display: inline-block;
    margin: 1.5em 1.5em 0em 1.5em;
}

#nav li:hover {
    border-bottom: 0.1em solid #333333;
    cursor: pointer;
}

.selected-time {
    border-bottom: 0.1em solid #333333;
}

#timer {
    text-align: center;
}

#clock {
    cursor: pointer;
    font-size: 10rem;
    margin: 0.5em 0em 0.25em 0em;
}

#buttons {
    font-size: 4rem;
}

#buttons i {
    margin: 0em 0.1em;
    cursor: pointer;
}

/* Settings */
#settings {
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 1px 1px 10px -1px #999999;
    display: grid;
    grid-template-rows: 7% 10% 1fr 1fr 1fr 5%;
    grid-template-columns: 5% 1fr 5%;
    /* display: none; */
    font-size: 1.5rem;
}

#settings-header {
    cursor: grabbing;
    display: flex;
    justify-content: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / span 3;
}

.exit {
    font-size: 2rem;
    cursor: pointer;
    margin-top: 0.1em;
    margin-right: 0.3em;;
}

#settings h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-left: 0.2em;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#times {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 0;
    margin: 2em 0em;
}

#times form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#times form fieldset {
    display: grid;
    grid-template-columns: 7em 2.5em 1em 2.5em 1fr;
    border: 0;
    align-items: center;
    padding: 0em 0em 0.5em 0.5em;
}

.colon {
    text-align: center;
}

#times form fieldset:nth-child(1) {
    grid-row: 1 / 2;
}

#times form fieldset:nth-child(2) {
    grid-row: 2 / 3;
}

#times form fieldset:nth-child(3) {
    grid-row: 3 / 4;
}

#times form input[type="text"] {
    width: 3em;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    color: #333333;
    text-align: right;
    padding: 0.3em;
    border: 0em solid #333333;
    background-color: whitesmoke;
}

.confirm {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: end;
    align-self: end;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
